/* font style  */


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}


/*  common part  */


.background-color{
background: rgba(255, 144, 14, 0.1);

}

.navbar ,.banner{
    max-width: 1140px;
    margin: 0 auto;
}

.display-flex{
display: flex;

}
.btn-primary{

border-radius: 8px;

background: rgb(255, 144, 14);

color:white;
padding: 20px 20px;
font-size: 1.25rem;
font-weight: 600;
margin-bottom: 50px;
}

/* nav design  */
.nav-item{
direction: none;
 list-style: none;  

}

.nav-link{
text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
  gap: 20px;
}
.nav-header{
    font-weight: 700;
    font-size: 3rem;
}
.nav-font-color a{
    color: rgb(66, 66, 66);

}

/* Banner Design */

.banner-contain{

max-width: 750px;
margin: 0 auto;

text-align: center;
}

.banner-title{

    font-weight: 700;
    font-size: 4rem; 
}
.banner-img{
   width: 100%;
}

/* Responsive media query */
@media screen and (max-width:576px) {
  
    .nav-links, .navbar{

        flex-direction: column;
    }

}